<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30000">
        <setting id="repository_port" type="number" label="30001" default="61236"/>
        <setting label="30005" type="action" action="RunScript(repository.jacktook, update_repository)"/>
    </category>
</settings>
